:root {
  --black-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --title-text-color: #434455;
  --button-color: #e7e9fc;
}
body {
  font-family: Roboto;
}

/* шапка  header*/
.header {
  text-decoration: none;
}
.header-nav .list-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

/* видалення крапок */
.list {
  list-style: none;
  text-decoration: none;
}

/* logo */
.logo {
  color: var(--black-text-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  align-items: center;
  text-decoration: none;
}

.blue {
  color: var(--accent-color);
}
.contact {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.link:hover,
:focus {
  background-color: var(--accent-color);
  color: red;
}
/* hero */
.hero {
  background-color: var(--title-text-color);
}
.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.1;
  color: #ffffff;
  text-align: center;
}

/* button */

.button {
  background-color: var(--button-color);
  color: var(--accent-color);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.button:hover,
.button:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
}

/* Заголовки */
.heading {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

/* -------------- */

/* nav */

/* ---------------------- */
.list-link {
  color: var(--black-text-color);
}

.contact .contact-link {
  color: var(--title-text-color);
  text-decoration: none;
}
.menu-nav .list {
  color: var(--black-text-color);
}

/* section  main*/
.section-one .list {
  color: var(--accent-color);
}
.content {
  color: var(--black-text-color);
}

.title-list {
  color: var(--black-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.contact-link {
  text-decoration: none;
}
/* footer */
.footer {
  background-color: var(--title-text-color);
}
.footer-title {
  color: var(--button-color);
}
