*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --title-text-color: #434455;
  --button-color: #e7e9fc;
  --body-color-white: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
  background-color: var(--body-color-white);
}


/* шапка  header*/
.container {  width: 1140px;
  
}

.section { 
  margin-top: 120px;
  margin-bottom: 120px;

}

.header-nav .list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

/* видалення крапок */
.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/* logo */
.logo {
  color: var(--black-text-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}

.blue {
  color: var(--accent-color);
}
.contact {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.list-link:hover {
  color: var(--title-text-color);
}
.list-link:focus {
  color: var(--accent-color);
}

.link:hover:focus {
  color: var(--accent-color);
}
/* приховати заголовок  */
.visually-hidden { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; clip: rect(0 0 0 0); overflow: hidden; }


/* hero */
.hero {
  background-color: var(--title-text-color);
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 56px;
  line-height: 1.1;
  color: var(--body-color-white);
  text-align: center;
  margin-bottom: 48px;
}

/* button */
.button-hero {
  display: inline-block;
  background-color: var(--accent-color);
  min-width: 170px;
  color: var(--body-color-white);
  font-family: inherit;
  cursor: pointer; border-radius: 4px; padding:16px 32px ;
  
  }
.button-hero:hover {
  background-color: var(--accent-color);
}
.button-hero:focus {
  background-color: #404bbf;
}
.button {
  background-color: var(--button-color);
  display: inline-block;
  color: var(--accent-color);
  border: 1px solid var(--button-color);
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  color: var(--button-color);
  background-color: var(--accent-color);
}
.button:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
}

/* Заголовки */
.heading {
margin-top: 0;
margin-bottom: 72px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

/* -------------- */

/* nav */

/* ---------------------- */
.list-link {
  color: var(--black-text-color);
}

.contact-link {
  color: var(--title-text-color);
  text-decoration: none;
}

.contact-link:hover {
  color: var(--accent-color);
}

.menu-nav .list {
  color: var(--black-text-color);
}

/* section  main*/

.content {
  color: var(--black-text-color);
}

.title-list {
  margin-bottom: 8px;
  margin-top: 0;
  color: var(--black-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.subtitle {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.contact-link {
  text-decoration: none;
}
/* footer */
.footer {
  background-color: var(--title-text-color);
}
.footer-title {
  color: var(--button-color);
}
