:root {
--black-text-color:#2E2F42;
--accent-color:#4D5AE5;
--title-text-color:#434455;
--button-color:#E7E9FC;}
body{font-family: Roboto;}



/* шапка  header*/
.header-nav .list-link {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;}


/* logo */
.logo{color:var(--black-text-color);
font-family: 'Raleway';
     font-style: normal;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.3;
     align-items: center;
     }

.blue {color: var(--accent-color); }
.contact{font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
}

.link:hover, :focus{background-color:var(--accent-color); color:red ;}

/* button */

.button {background-color: var(--button-color);
color:var(--accent-color) ;
font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;}

.button:hover ,.button:focus {color: var(--button-color);
     background-color: var(--accent-color);}
 

/* -------------- */

/* nav */
/* видалення крапок */
.list {list-style: none;}
/* ---------------------- */
.list-link {color:var(--black-text-color);Font style: SemiBold Font size: 16px Line height: 24px Line height: 128% Align: Left}

.contact .contact-link { color: var(--title-text-color); }
.menu-nav .list {color:var(--black-text-color);}


/* section  main*/
.section-one .list {color: var(--accent-color);}
.content{color: var(--black-text-color);}

.list .title-list{font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 1.2;}


.subtitle {color:var(--title-text-color);
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;}